<template>
	<v-app>
	<v-layout row wrap>
	  <v-flex xs12 sm12 md12 style="margin-bottom: 1%">
	  	<v-card>
			<v-container>
				<v-layout row wrap>
				  	<!-- categoria -->
				  <v-flex xs12 sm12 md5>
				  	<v-card
				  	class="mx-auto"
				  	max-width="400"
				  	>
				  	<v-img
						height="200px"
						:src="url_img_categoria"
				  	>
				  	</v-img>
				  	<v-card-title color="white">
				  		  CREAR CATEGORIAS
				  	</v-card-title>
				  		<v-container>
					  	  <v-layout row wrap style="padding: 2%;">
					  	    <v-flex xs12 sm12 md12>
							    <v-text-field
							      label="NOMBRE DE LA CATEGORIA"
							      v-model="var_nombre_categoria"
							    ></v-text-field>
					  	    </v-flex>
					  	    <v-flex xs12 sm12 md12>
							    <input type="file" 
							    ref="file_img" 
							    class="form-control-file"
							     @change="ManejadorDeLaFotoDeCategoria">
					  	    </v-flex>
					  	  </v-layout>
				  		</v-container>
				  		<v-card-actions>
				  		  <v-btn text color="success" @click="addCategoria" >CREAR</v-btn>
				  		  <v-btn text color="warning" @click="updateCategoria" >EDITAR</v-btn>
				  		</v-card-actions>
				  	</v-card>
				  </v-flex>
					<!-- end categoria -->
					<v-spacer></v-spacer>
					<!-- categoria hija -->
					<v-flex xs12 sm12 md5>
					  	<v-card
					  	class="mx-auto"
					  	max-width="400"
					  	>
					  	<v-img
							height="200px"
							:src="url_img_sub_categoria"
					  	>
					  	</v-img>
					  	<v-card-title color="white">
					  		  CREAR SUBCATEGORIAS
					  	</v-card-title>
					  		<v-container>
						  	  <v-layout row wrap style="padding: 2%;">
						  	    <v-flex xs12 sm12 md12>
								    <v-select
						  	          :items="items_lista_categoria"
						  	          v-model="var_categoria_seleccionado"
						  	          label="SELECCIONAR CATEGORIA PADRE"
						  	          return-object
						  	          item-text="nombre"
						  	        ></v-select>
						  	    </v-flex>
						  	     <v-flex xs12 sm12 md12>
								    <v-text-field
								      label="NOMBRE DE LA SUBCATEGORIA"
								      v-model="var_nombre_sub_categoria"
								    ></v-text-field>
						  	    </v-flex>
						  	    <v-flex xs12 sm12 md12>
								    <input type="file" class="form-control-file" @change="ManejadorDeLaFotoDeSubCategoria">
						  	    </v-flex>
						  	  </v-layout>
					  		</v-container>
					  		<v-card-actions>
					  		  <v-btn text color="success" @click="addSubCategoria" >CREAR</v-btn>
					  		</v-card-actions>
					  	</v-card>
				  	</v-flex>
				  <!-- end categoria hija -->  	  
				</v-layout>				    
			</v-container>		  	  
	  	</v-card>
	  </v-flex>

	  <!-- tabla lista de categoria -->
	  <v-flex xs12 sm12 md5>
	    <v-card>
	      <v-container>
	        <v-layout row wrap>
	          <v-flex xs12 sm12 md12 style="padding: 1%" >
	          	<v-text-field
	          	  label="BUSCAR CATEGORIA"
	          	  v-model="search_lista_categoria"
	          	></v-text-field>
	            <v-data-table
	              :headers="headers_lista_categoria"
	              :items="items_lista_categoria"
	              class="elevation-1"
	              :loading="Loading_lista_categoria"
	              :search="search_lista_categoria"
	              dense
	            >
              	 	<template v-slot:item.foto="{ item }" >
              		 	<v-img :src="item.foto" height="25" width="100" ></v-img>
              	 	</template>
	                <template v-slot:items="props" >
	              	  <td class="text-center">{{props.item.nombre}}</td>
	                </template>
	              	<template v-slot:item.action="{ item }" >
	              		<v-btn  text color="warning"  @click="EditCategoria(item.id)" >EDITAR</v-btn>
	              		<v-btn  text color="error"    @click="DeleteCategoria(item.id)" >ELIMINAR</v-btn>
	              	</template>
	            </v-data-table>
	          </v-flex>
	        </v-layout>
	      </v-container>
	    </v-card>
	  </v-flex>
	  <!-- end tabla lista de categoria -->
	  <v-spacer></v-spacer>
	  <!-- tabla lista de sub categoria -->
	  <v-flex xs12 sm12 md5>
	    <v-card>
	      <v-container>
	        <v-layout row wrap>
	          <v-flex xs12 sm12 md12 style="padding: 1%" >
	          	<v-text-field
	          	  label="BUSCAR SUBCATEGORIA"
	          	  v-model="search_lista_sub_categoria"
	          	></v-text-field>
	            <v-data-table
	              :headers="headers_lista_sub_categoria"
	              :items="items_lista_sub_categoria"
	              class="elevation-1"
	              :loading="Loading_lista_sub_categoria"
	              :search="search_lista_sub_categoria"
	              dense
	            >
	          
              	 	<template v-slot:item.foto="{ item }" >
              		 	<v-img :src="item.foto" height="25" width="100"></v-img>
              	 	</template>
	                <template v-slot:items="props" >
	              	  <td class="text-center">{{props.item.sub_categoria_asociadas.nombre}}</td>
	                </template>
	            </v-data-table>
	          </v-flex>
	        </v-layout>
	      </v-container>
	    </v-card>
	  </v-flex>
	  <!-- end tabla lista de categoria -->
	</v-layout>
</v-app>
</template>
<script>
	export default {
		mounted(){
			this.getCategoria();
			this.getSubCategoria();
		},
		data(){
			return {
				// props tabla de categoria
				headers_lista_categoria: [
					{text: 'IMAGEN CATEGORIA', align:'center', sortable:false, value:'foto'},
					{text: 'NOMBRE DE CATEGORIA', aling:'center', sortable:false, value:'nombre'},
					{text: 'ACCION', align:'center', sortable:false, value:'action'},
				],
				Loading_lista_categoria: false,
				Loading_lista_sub_categoria:false,
				items_lista_categoria:[],
				items_lista_sub_categoria:[],
				search_lista_categoria: '',
				// end props tabla de categoria

				headers_lista_sub_categoria:[
					{text: 'IMAGEN DE SUBCATEGORIA', align: 'center', sortable:true, value: 'foto'},
					{text: 'NOMBRE DE LA SUBCATEGORIA', align: 'center', sortable:true, value: 'nombre'},
					{text: 'CATEGORIA PADRE', align: 'center', sortable:true, value: 'categoria_asociada[0].nombre'},
				],
				var_foto_categoria: '',
				var_nombre_categoria: '',
				url_img_categoria: '',
				id_categoria: '',
				var_categoria_seleccionado: [],
				url_img_sub_categoria: '',
				var_nombre_sub_categoria: '',
				var_foto_sub_categoria: '',
				url_img_sub_categoria: '',
				search_lista_sub_categoria: '',
			}
		},
		methods:{
			getCategoria: async function(){
				this.Loading_lista_categoria = true;
				const URL = 'api/categoria';
				try {
					let categoria = await axios.get(URL);
					this.items_lista_categoria = categoria.data
					this.Loading_lista_categoria = false;
				} catch(e) {
					this.$swal('error', `${e}`, 'error');
					this.Loading_lista_categoria = false;
					console.log(e);
				}
			},
			getSubCategoria: async function(){
				this.Loading_lista_sub_categoria = true;
				const URL = 'api/subCategoria';
				try {
					let subcategoria = await axios.get(URL);
					this.items_lista_sub_categoria = subcategoria.data
					this.Loading_lista_sub_categoria = false;
				} catch(e) {
					this.$swal('error', `${e}`, 'error');
					this.Loading_lista_sub_categoria = false;
					console.log(e);
				}
			},
			addCategoria: async function(){
				const URL = 'api/categoria';
				let data = new FormData()
				data.append('foto', this.var_foto_categoria)
				data.append('data', this.var_nombre_categoria)

				try {
					let categoria_foto =  await axios.post(URL, data, {headers: {'Content-type': 'multipart/form-data'}})
					this.$toastr.s(`CATEGORIA  ${this.var_nombre_categoria }  CREADA CON EXITO`, '');
					this.var_nombre_categoria = '';
					this.var_foto_categoria ='';
					this.url_img_categoria = '';
					this.getCategoria();
					
				} catch(e) {
					this.$toastr.e(`ERROR:  ${e}`, '');
					this.var_nombre_categoria = '';
					this.var_foto_categoria ='';
					console.log(e);
				}
			},
			ManejadorDeLaFotoDeCategoria(e){
				this.var_foto_categoria = e.target.files[0]
				this.url_img_categoria = URL.createObjectURL(this.var_foto_categoria)
			},
			ManejadorDeLaFotoDeSubCategoria(e){
				this.var_foto_sub_categoria = e.target.files[0]
				this.url_img_sub_categoria = URL.createObjectURL(this.var_foto_sub_categoria)
			},
			EditCategoria: async function(id_categoria){
				const URL = `api/getCategoriaSpecified/${id_categoria}`
				try {
					let categoria = await axios.get(URL)
					this.var_nombre_categoria = categoria.data.nombre
					this.url_img_categoria = categoria.data.foto
					this.id_categoria = id_categoria
				} catch(e) {
					console.log(e);
				}
			},
			updateCategoria: async function(){
				const URL = `api/categoria/${this.id_categoria}`
				let data = new FormData()
				data.append('foto', this.var_foto_categoria)
				data.append('data', this.var_nombre_categoria)
				try {
					let categoria_foto =  await axios.post(URL, data, {headers: {'Content-type': 'multipart/form-data'}})
					this.$toastr.s(`CATEGORIA  ${this.var_nombre_categoria }  EDITADA CON EXITO`, '');
					this.var_nombre_categoria = '';
					this.var_foto_categoria ='';
					this.url_img_categoria = '';
					this.getCategoria();
				} catch(e) {

					this.$toastr.e(`ERROR: ${e}`, '');
					this.var_nombre_categoria = '';
					this.var_foto_categoria ='';
					console.log(e);

				}
			},
			DeleteCategoria: async function(id_categoria){
				const URL = `api/deleteCategoria/${id_categoria}`
				try {
					let categoria = await axios.delete(URL)
					this.$toastr.i(`CATEGORIA  ${this.var_nombre_categoria }  ELIMINADA CON EXITO`, '');
					this.getCategoria();
				} catch(e) {
					// statements
					console.log(e);
				}

			},
			addSubCategoria: async function(){
				const URL = `api/subCategoria`

				let data = new FormData()
				data.append('foto', this.var_foto_sub_categoria)
				data.append('nombre', this.var_nombre_sub_categoria)
				data.append('categoria', this.var_categoria_seleccionado.id)

				try {

					let subCategoria = await axios.post(URL, data, {headers: {'Content-type': 'multipart/form-data'}})
					this.$toastr.s(`SUBCATEGORIA  ${this.var_nombre_categoria }  CREADA CON EXITO`, '');
					this.var_nombre_sub_categoria = '';
					this.var_categoria_seleccionado = [];
					this.getSubCategoria();
				} catch(e) {
					console.log(e);
				} 

			}
		}
	}
</script>