<template>
<v-app>
	    <v-card
		    class="mx-auto"
		  >
			<v-carousel>
			   <v-carousel-item
			     :src="foto1"
			   ></v-carousel-item>
			   <v-carousel-item
			     :src="foto2"
			   ></v-carousel-item>
			   <v-carousel-item
			     :src="foto3"
			   ></v-carousel-item>
			</v-carousel>
		    <v-card-title>
		      {{nombre_producto}}
		    </v-card-title>
		    <v-card-subtitle>
		     PRECIO:{{precio_producto | currency}} </br>PESO:{{ peso_producto }}</br> CATEGORIA:{{ categoria_producto}}
		    </v-card-subtitle>
      		<v-spacer></v-spacer>
    		<v-divider></v-divider>
        	<v-card-text>
          	{{ descripcion_producto }}
        	</v-card-text>
		</v-card>
</v-app>
</template>
<script>
	export default{
		mounted(){
			this.getProductoEspesifico(this.id_producto)
		},
		data(){
			return {
				id_producto: this.$route.params.producto,
				nombre_producto: '',
				descripcion_producto: '',
				precio_producto: '',
				peso_producto: '',
				categoria_producto: '',
				foto1:'',
				foto2:'',
				foto3:'',
			}
		},
		methods:{
			getProductoEspesifico: async function(id){
				const URL = `api/producto/${id}`

				try {
					let producto = await axios.get(URL)
					this.nombre_producto = producto.data.nombre
					this.descripcion_producto = producto.descripcion
					this.precio_producto = producto.data.precio
					this.peso_producto = producto.data.peso
					this.categoria_producto = producto.categoria
					this.foto1 = producto.data.foto1
					this.foto2 = producto.data.foto2
					this.foto3 = producto.data.foto3

				} catch(e) {
					// statements
					console.log(e);
				}
			}
		}
	}
</script>