<template>
<v-app>
	<v-layout row wrap>
	    <v-flex xs12 sm12 md12>
			<v-card>
			  	<v-btn color="success"
		         	dark
		         	absolute
		         	bottom 
		         	left
		         	fab
		         	@click.prevent="dialog_add_producto = true"
			  	>
			  	<v-icon>+</v-icon>
			  	<!-- <h1>+</h1> -->
			  </v-btn>
			</v-card>
	
	<!-- <v-container> -->
		<v-layout row wrap>
		 	<v-flex xs12 sm12 md7>
			    <v-container>
			      	<v-layout row wrap>
			      		<!-- card producto -->
				    <v-flex xs12 sm12 md5 v-for="(productos, index) in item_list_productos" :key="productos.id" style="margin: 1%">
						    <v-card
							    class="mx-auto"
							    max-width="344">
								<v-carousel>
								   <v-carousel-item
								     :src="productos.foto1"
								   ></v-carousel-item>
								   <v-carousel-item
								     :src="productos.foto2"
								   ></v-carousel-item>
								   <v-carousel-item
								     :src="productos.foto3"
								   ></v-carousel-item>
								</v-carousel>
							    <v-card-title>
							      {{productos.nombre}}
							    </v-card-title>
							    <v-card-subtitle>
							     PRECIO:{{productos.precio | currency}} </br>PESO:{{ productos.peso }}</br> CATEGORIA:{{ productos.categoria}}
							    </v-card-subtitle>
							    <v-btn 
							    	@click.prevent="addItemAlCarritoDeCompra(productos)"
							      	color="red"
							      	text 
							      	block >AGREGAR AL CARRITO DE COMPRAS
							    </v-btn>
							    <v-btn
									@click.prevent="productoDetalle(productos.id)"
							        color="purple"
							        text
							        block>
							        <!-- <router-link >
			                            <a href=""  > -->
			                                VER DETALLE DEL PRODUCTO
			                            <!-- </a>
			                        </router-link>
						         -->
						      </v-btn>
					      		<v-spacer></v-spacer>
				        		<v-divider></v-divider>
					        	<v-card-text>
					          	{{ productos.descripcion}}
					        	</v-card-text>
			  				</v-card>
		    			</v-flex>
		    			<!-- end card producto -->
			      	</v-layout>
			    </v-container>
	  		</v-flex>
	  		<v-spacer></v-spacer>
			<v-flex xs12 sm12 md5>
			    <v-card>
		           	<v-card-title>
						CARRITO DE COMPRAS
					</v-card-title>
			      <v-container>
			        <v-layout row wrap>
			          <v-flex xs12 sm12 md12 style="padding: 2%">
			          	<v-text-field
			          	  label="BUSCAR ITEM"
			          	  v-model="search_list_carrito_de_compra"
			          	></v-text-field>
			          	<v-data-table
			          	  :headers="headers_list_carrito_de_compra"
			          	  :items="items_list_carrito_de_compra"
			          	  hide-default-footer
			          	  :loading="loading_list_carrito_de_compra"
			          	  :search="search_list_carrito_de_compra"
			          	>
			          	
			          	</v-data-table>
			          </v-flex>
			          <v-divider></v-divider>
			          <v-flex xs12 sm12 md12>
			            TOTAL: {{computed_total | currency}}
			          </v-flex>
			        </v-layout>
			      </v-container>
			    </v-card>
			 </v-flex>
		</v-layout>
	<!-- </v-container> -->
	
		</v-flex>
	</v-layout>

	<!-- add PRoducto modal -->
	<v-dialog
	  v-model="dialog_add_producto"
	  scrollable  
	  persistent :overlay="false"
	  transition="dialog-transition"
	>
	  <v-card>
	    <v-menu
              bottom
              right >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  v-on="on"
                  @click.prevent="dialog_add_producto = false"
                >
                  CERRAR
                </v-btn>
              </template>
            </v-menu>
	    <v-container>
	      <v-layout row wrap>
	        <v-flex xs12 sm12 md12>
	          <v-container>
	            <v-layout row wrap align-content-center >
	              <v-flex xs12 sm12 md3>
	                <v-select
	                  :items="items_categorias"
	                  v-model="items_categoria_seleccionada"
	                  label="SELECCIONAR CATEGORIA"
	                  return-object
	                  item-text="nombre"
	                  @change="categoriaSeleccionada(items_categoria_seleccionada)"
	                ></v-select>
	                <v-img
	                 	height="40"
						:src="items_categoria_seleccionada.foto"
				  	>
				  	</v-img>
	              </v-flex>
	              <v-spacer></v-spacer>
	              <v-flex xs12 sm12 md3 v-show="categoria_selected">
	                <v-select
	                  :items="items_sub_categorias"
	                  v-model="items_categoria_sub_seleccionada"
	                  label="SELECCIONAR SUB CATEGORIA"
	                  return-object
	                  item-text="nombre"
	                  @change="subCategoriaSelected"
	                ></v-select>
	                <v-img
	                 	height="40"
						:src="items_categoria_sub_seleccionada.foto"
				  	>
				  	</v-img>
	              </v-flex>
	              <v-spacer></v-spacer>
	              <v-flex xs12 sm12 md3 v-show="sub_categoria_selected" >
	               <v-btn color="success" @click.prevent="addProducto" >AGREGAR PRODUCTO</v-btn>
	              </v-flex>
	            </v-layout>
	          </v-container>
	        </v-flex>
	        <v-flex xs12 sm12 md3>
	          <v-card >
	            <v-container  >
	              <v-flex xs12 sm12 md12>
	              <label> IMAGEN 1</label>	                	
	                 <v-img
	                 	width="160"
						:src="url_img_principal"
						class="elevation-2"
				  	>
				  	</v-img>
	              </v-flex>
	              <v-flex xs12 sm12 md12>
	              	<label> IMAGEN 2</label>
	                 <v-img
	                 	width="160"
						:src="url_img_dos"
						class="elevation-2"
				  	>
				  		</v-img>
	              </v-flex>
	              <v-flex xs12 sm12 md12>
	              	<label> IMAGEN 3</label>
	                 <v-img
	                 	width="160"
						:src="url_img_tres"
						class="elevation-2"
				  	>
				  		</v-img>
	              </v-flex>
	            </v-container>
	          </v-card>
	        </v-flex>
	        <v-spacer></v-spacer>
	        <v-flex xs12 sm12 md8>
	        	<v-layout row wrap>
	        	  <v-flex xs12 sm12 md6 style="padding: 5%">
	        	    <v-img
						:src="url_img_principal"
						class="elevation-2"
				  	>
				  	</v-img>
	        	  </v-flex>
	        	   <v-flex xs12 sm12 md6>
	        	     <v-card style="padding: 2%" >
	            <v-container>
	            	<v-layout row wrap>
	              <v-flex xs12 sm12 md12>
	                <input type="file" 
					    ref="file_img" 
					    class="form-control-file"
					     @change="ManejadorDeLaFotoPrincipal">
				     <input type="file" 
					    ref="file_img" 
					    class="form-control-file"
					     @change="ManejadorDeLaFotoDos">
				    <input type="file" 
					    ref="file_img" 
					    class="form-control-file"
					     @change="ManejadorDeLaFotoTres">
	              </v-flex>
	              <v-flex xs12 sm12 md12>
	                <v-text-field
	                  label="NOMBRE DEL PRODUCTO"
	                  v-model="var_nombre_producto"
	                ></v-text-field>
	              </v-flex>
	              <v-spacer></v-spacer>
	              <v-flex xs12 sm12 md12>
	                <v-text-field
	                  label="PRECIO DEL PRODUCTO"
	                  v-model="var_precio_producto"
	                ></v-text-field>
	              </v-flex>
	              <v-flex xs12 sm12 md12>
	                <v-text-field
	                  label="PESO DEL PRODUCTO"
	                  v-model="var_peso_producto"
	                ></v-text-field>
	              </v-flex>
	              <v-spacer></v-spacer>
	              <v-flex xs12 sm12 md12>
	                <v-text-field
	                  label="CATEGORIA DEL PRODUCTO"
	                  disabled
	                  v-model="items_categoria_sub_seleccionada.nombre"
	                ></v-text-field>
	            </v-flex>
	              <v-flex xs12 sm12 md12>
	                <v-textarea
			          	label="DESCRIPCION DEL PRODUCTO"
			          	v-model="var_descripcion_producto"
					></v-textarea>
	               </v-flex>
	            	</v-layout>
	            </v-container>
	          </v-card>
	        	  </v-flex>
	        	</v-layout>
	         
	        </v-flex>
	      </v-layout>
	    </v-container>
	  </v-card>
	</v-dialog>
	<!-- end add Producto -->
</v-app>
</template>
<script>
	export default{
		mounted(){
			this.getcategorias();
			this.getProductos();
		},
		data(){
			return {
				dialog_add_producto: false,
				items_categorias: [],
				items_categoria_seleccionada: [],
				items_sub_categorias: [],
				items_categoria_sub_seleccionada:[],
				categoria_selected: false,
				sub_categoria_selected: false,
				var_foto_principal: '',
				url_img_principal: '',
				var_foto_dos: '',
				url_img_dos: '',
				var_foto_tres: '',
				url_img_tres: '',
				var_nombre_producto: '',
				var_precio_producto: '',
				var_peso_producto: '',
				var_descripcion_producto: '',
				show: false,
				item_list_productos: [],
				headers_list_carrito_de_compra: [
					{text: 'DESCRIPCION', sortable:false, align:'center', value:'producto.descripcion'},
					{text: 'PRECIO', sortable:false, align:'center', value:'producto.precio'},
				],
				items_list_carrito_de_compra:[],
				loading_list_carrito_de_compra:false,
				search_list_carrito_de_compra:'',
				item_computed_total:0,
			}
		},
		computed: {
			computed_total: {
				get(){
					var result = 0
					this.items_list_carrito_de_compra.forEach((item) => {
						result += parseInt(item.producto.precio)
					})
					this.item_computed_total = result
					return this.item_computed_total
				},
				set(val){
					this.item_computed_total = val
				}
			}
		},
		methods: {
			getcategorias: async function(){
				const URL = `api/getcategoriaEspesificaConRelacion`
				try {
					let categorias = await axios.get(URL)
					this.items_categorias = categorias.data
				} catch(e) {
					// statements
					console.log(e);
				}
			},
			categoriaSeleccionada(categoria){
				this.categoria_selected =  true
				this.items_sub_categorias = categoria.sub_categoria_asociadas
			},
			subCategoriaSelected(){
				this.sub_categoria_selected = true
			},
			ManejadorDeLaFotoPrincipal(e){
				this.var_foto_principal = e.target.files[0]
				this.url_img_principal = URL.createObjectURL(this.var_foto_principal)
			},
			ManejadorDeLaFotoDos(e){
				this.var_foto_dos = e.target.files[0]
				this.url_img_dos = URL.createObjectURL(this.var_foto_dos)
			},
			ManejadorDeLaFotoTres(e){
				this.var_foto_tres = e.target.files[0]
				this.url_img_tres = URL.createObjectURL(this.var_foto_tres)
			},
			addProducto: async function(){
				const URL = `api/producto`

				var data = new FormData();
				data.append('nombre_producto', this.var_nombre_producto)
				data.append('descripcion_producto', this.var_descripcion_producto)
				data.append('precio_producto', this.var_precio_producto)
				data.append('peso_producto', this.var_peso_producto)
				data.append('categoria_producto', this.items_categoria_sub_seleccionada.id)
				data.append('foto_producto_principal', this.var_foto_principal)
				data.append('foto_producto_dos', this.var_foto_dos)
				data.append('foto_producto_tres', this.var_foto_tres)


				try {
					let producto = await axios.post(URL, data, {headers: {'Content-type': 'multipart/form-data'}})
					this.$toastr.s(`PRODUCTO ${this.var_nombre_producto} CREADO CON EXITO`, '');
					this.dialog_add_producto = false;
					this.var_nombre_producto = '';
					this.var_descripcion_producto = '';
					this.var_precio_producto = '';
					this.var_peso_producto = '';
					this.getProductos();
				} catch(e) {
					console.log(e);
				} 
			},
			getProductos: async function(){
				const URL = `api/producto`
				try {
					let producto = await axios.get(URL)
					this.item_list_productos = producto.data
				} catch(e) {
					// statements
					console.log(e);
				}
			},
			addItemAlCarritoDeCompra(item){
				this.loading_list_carrito_de_compra = true

				var foto, descripcion, precio;

					foto = item.foto1
					descripcion = item.descripcion
					precio = item.precio

				let producto = {
					foto,
					descripcion,
					precio
				}

				this.items_list_carrito_de_compra.push({producto})
				this.loading_list_carrito_de_compra = false
				console.log(this.items_list_carrito_de_compra)
			},
			productoDetalle(producto){
				this.$router.push(`/producto/${producto}`)
			}
		}
	}
</script>