<template>
	<v-app>
		<!-- card producto -->
		<v-layout row wrap>
			<v-flex xs12 sm12 md12>
	          <v-container>
	            <v-layout row wrap align-content-center >
	              <v-flex xs12 sm12 md3>
	                <v-select
	                  :items="items_categorias"
	                  v-model="items_categoria_seleccionada"
	                  label="SELECCIONAR CATEGORIA"
	                  return-object
	                  item-text="nombre"
	                  @change="categoriaSeleccionada(items_categoria_seleccionada)"
	                ></v-select>
	                <v-img
	                 	height="40"
						:src="items_categoria_seleccionada.foto"
				  	>
				  	</v-img>
	              </v-flex>
	              <v-spacer></v-spacer>
	              <v-flex xs12 sm12 md3 v-show="categoria_selected">
	                <v-select
	                  :items="items_sub_categorias"
	                  v-model="items_categoria_sub_seleccionada"
	                  label="SELECCIONAR SUB CATEGORIA"
	                  return-object
	                  item-text="nombre"
	                  @change="subCategoriaSelected(items_categoria_sub_seleccionada.id)"
	                ></v-select>
	                <v-img
	                 	height="40"
						:src="items_categoria_sub_seleccionada.foto"
				  	>
				  	</v-img>
	              </v-flex>
	              <v-spacer></v-spacer>
	            </v-layout>
	          </v-container>
	        </v-flex>
		    <v-flex xs12 sm12 md3 v-for="(productos, index) in item_list_productos" :key="productos.id" style="margin: 1%">
				    <v-card
					    class="mx-auto"
					    max-width="344">
						<v-carousel>
						   <v-carousel-item
						     :src="productos.foto1"
						   ></v-carousel-item>
						   <v-carousel-item
						     :src="productos.foto2"
						   ></v-carousel-item>
						   <v-carousel-item
						     :src="productos.foto3"
						   ></v-carousel-item>
						</v-carousel>
					    <v-card-title>
					      {{productos.nombre}}
					    </v-card-title>
					    <v-card-subtitle>
					     PRECIO:{{productos.precio | currency}} </br>PESO:{{ productos.peso }}</br> CATEGORIA:{{ productos.categoria}}
					    </v-card-subtitle>
					    <v-btn
							@click.prevent="productoDetalle(productos.id)"
					        color="purple"
					        text
					        block>
					        <!-- <router-link >
	                            <a href=""  > -->
	                                VER DETALLE DEL PRODUCTO
	                            <!-- </a>
	                        </router-link>
				         -->
				      </v-btn>
			      		<v-spacer></v-spacer>
		        		<v-divider></v-divider>
			        	<v-card-text>
			          	{{ productos.descripcion}}
			        	</v-card-text>
	  				</v-card>
    			</v-flex>
		    			<!-- end card producto -->
		</v-layout>
	</v-app>
</template>
<script>
	export default {
		mounted(){
			this.getProductos();
			this.getcategorias();
		},
		data(){
			return {
				item_list_productos: [],
				categoria_selected: false,
				items_sub_categorias: [],
				items_categoria_seleccionada:[],
				items_categoria_sub_seleccionada:[],
				items_categorias: [],
			}
		},
		methods: {
			getProductos: async function(){
				const URL = `api/producto`
				try {
					let producto = await axios.get(URL)
					this.item_list_productos = producto.data
				} catch(e) {
					// statements
					console.log(e);
				}
			},
			productoDetalle(producto){
				this.$router.push(`/producto/${producto}`)
			},
			categoriaSeleccionada(categoria){
				this.categoria_selected =  true
				this.items_sub_categorias = categoria.sub_categoria_asociadas
			},
			subCategoriaSelected: async function(id){
				this.sub_categoria_selected = true 
				const URL = `api/categoriaconRelacion/${id}`
				try {
					let productosConCategoria = await axios.get(URL)
					this.item_list_productos = productosConCategoria.data.producto_asociada_a_categoria
				} catch(e) {
					// statements
					console.log(e);
				}
			},
			getcategorias: async function(){
				const URL = `api/getcategoriaEspesificaConRelacion`
				try {
					let categorias = await axios.get(URL)
					this.items_categorias = categorias.data
				} catch(e) {
					// statements
					console.log(e);
				}
			},
		}
	}
</script>